:root {
    font-family: "Roboto";
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(235, 18%, 26%);
}

.main-rect {
    width: 375px;
    height: 400px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 25px;
    box-shadow: 0px 10px 20px hsla(0, 0%, 0%, 0.553);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 30px;
    color: hsl(234, 29%, 20%);
}

.dis {
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    border: 0px;
    background-color: hsl(234, 29%, 20%);
    color: hsl(0, 0%, 100%);
    font-size: small;
    cursor: pointer;
}

.dis:hover {
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    border: 0px;
    background-image: linear-gradient(to right, hsl(4, 100%, 67%), hsl(23, 100%, 67%));
    color: hsl(0, 0%, 100%);
    font-size: small;
    cursor: pointer;
    box-shadow: 0px 0px 20px 2px hsla(4, 58%, 54%, 0.525);
}

.title {
    font-size: 50px;
}

@media (max-width: 1024px) {
    body {
        height: 100vh;
        background-color: hsl(0, 0%, 100%);
    }

    .main-rect {
        box-shadow: none;
        height: 100vh;
        width: 100vw;
        border-radius: 0px;
        justify-content: center;
        align-items: start;
    }

    .dis {
        margin-top: 200px;
    }

}